## Universidad Autonoma de Nuevo León
## Facultad de Ciencias Físico Matemáticas
### Maestría en Ciencia de Datos
### Aprendizaje Automático
#### Eduardo David González Flores
##### 1515489

## Tarea en clase (2 puntos)
- Aplica algún método de filtro a tus datos mediante el uso de [SelectKBest](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectKBest.html)

In [1]:
import pandas as pd

file_path = '../data/churn.csv'

df = pd.read_csv(file_path)
df

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,15569892,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,15682355,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
df = pd.get_dummies(df, columns=['country', 'gender'], drop_first=True)
df.to_csv('../data/churn_dummy.csv', index=False)
df

,customer_id,credit_score,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn,country_Germany,country_Spain,gender_Male
0,15634602,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,15647311,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,15619304,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,15701354,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,15737888,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,15569892,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,15584532,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,15682355,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,15628319,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [7]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

X = df.drop('churn', axis=1)
y = df['churn']

k_best = SelectKBest(score_func=f_classif, k=5)
X_new = k_best.fit_transform(X, y)

scores = k_best.scores_

# Obtén los índices que ordenan las características por puntuación de mayor a menor
sorted_feature_indices = scores.argsort()[::-1]

selected_features = X.columns[sorted_feature_indices]
sorted_scores = scores[sorted_feature_indices]

print("Características seleccionadas con sus puntuaciones (ordenadas por score, de mayor a menor):")
for feature, score in zip(selected_features, sorted_scores):
    print(f"{feature}: {score:.4f}")

Características seleccionadas con sus puntuaciones (ordenadas por score, de mayor a menor):
age: 886.0633
country_Germany: 310.2584
active_member: 249.8008
balance: 142.4738
gender_Male: 114.7280
country_Spain: 27.8095
products_number: 22.9152
credit_score: 7.3445
tenure: 1.9602
estimated_salary: 1.4633
credit_card: 0.5094
customer_id: 0.3903